html{
    direction: rtl;
  }
  
  *{
    font-family: 'DINNextLTArabic', sans-serif;
    font-weight: 300;
  }
  
  p{
    font-size: 20px;
  }
  
  .notification{
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .notification span{
    padding: 10px;
  }
  
  .close-notifcation{
    background-color: transparent;
    border: 0; font-size: 28px; color: #fff;
    font-weight: bold; padding-top: 0;
    cursor: pointer;
  }
  
  .error{
    background-color: #fe0000;
  }
  
  .success{
    background-color: #8dc63f;
  }
  
  .logo{
    width: 50px; height: 50px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='24 38 109 81'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E1%3C/title%3E%3Cpath class='cls-1' d='M39.7,54.555H32.126a.549.549,0,0,0-.621.62V80.626A6.112,6.112,0,0,1,30.419,84.6a4.487,4.487,0,0,1-3.632,1.3H25.423a.548.548,0,0,0-.622.62v6.27a.548.548,0,0,0,.622.62h2.854q6.084,0,9.063-3.041t2.979-9.435V55.175A.548.548,0,0,0,39.7,54.555Z'/%3E%3Cpath class='cls-1' d='M80.169,85.964h7.7a.62.62,0,0,1,.62.62v6.083a.621.621,0,0,1-.621.621h-7.7a.62.62,0,0,1-.62-.62V86.584A.62.62,0,0,1,80.169,85.964Z'/%3E%3Cpath class='cls-1' d='M115.3,40.96h6.208a.62.62,0,0,1,.62.62v6.083a.621.621,0,0,1-.621.621H115.3a.62.62,0,0,1-.62-.62V41.581A.62.62,0,0,1,115.3,40.96Z'/%3E%3Cpath class='cls-1' d='M124.861,40.96h6.269a.622.622,0,0,1,.622.622v6.083a.62.62,0,0,1-.62.62H124.86a.62.62,0,0,1-.62-.62V41.581A.621.621,0,0,1,124.861,40.96Z'/%3E%3Cpath class='cls-1' d='M127.348,54.555h-7.457a.547.547,0,0,0-.617.62V69.886a3.625,3.625,0,0,1-.713,2.577,3.1,3.1,0,0,1-2.266.714H103.012a5.418,5.418,0,0,1-3.321-.87,3.349,3.349,0,0,1-1.334-2.358v-.993a22.266,22.266,0,0,0-.807-6.115,12.964,12.964,0,0,0-2.576-4.9,11.959,11.959,0,0,0-4.594-3.259,17.984,17.984,0,0,0-6.921-1.18,14.8,14.8,0,0,0-6.735,1.4,19.132,19.132,0,0,0-4.935,3.569q-.372.372.186.931L75.638,63.8a.569.569,0,0,0,.868-.062,12.771,12.771,0,0,1,2.856-1.955A7.806,7.806,0,0,1,82.9,61.01a6.85,6.85,0,0,1,3.01.59,5.168,5.168,0,0,1,1.955,1.614,6.436,6.436,0,0,1,1.055,2.39,13.138,13.138,0,0,1,.311,2.917,9.854,9.854,0,0,1-.218,2.266,2.669,2.669,0,0,1-2.2,2.172,10.918,10.918,0,0,1-2.421.218h-23.4c-.011,0-.02,0-.031,0s-.02,0-.031,0H59.252a3.1,3.1,0,0,1-2.266-.714,3.62,3.62,0,0,1-.714-2.577V39.1a.547.547,0,0,0-.616-.62H48.2a.546.546,0,0,0-.615.62V72.866q0,4.037,1.663,5.928t5.548,1.894h6.134c.012,0,.021,0,.033,0s.018,0,.029,0H87.866a16.6,16.6,0,0,0,5.369-.776A6.243,6.243,0,0,0,96.742,76.9a6.052,6.052,0,0,0,3.167,3.073,13.012,13.012,0,0,0,4.531.714h16.314q3.882,0,5.547-1.894t1.664-5.928V55.175A.547.547,0,0,0,127.348,54.555Z'/%3E%3Cpath class='cls-1' d='M28.168,117.89a.149.149,0,0,1-.17-.167v-8.932a.09.09,0,0,0-.1-.1H24.971a.149.149,0,0,1-.17-.166v-1.846a.149.149,0,0,1,.17-.166h8.552a.148.148,0,0,1,.17.166v1.846a.148.148,0,0,1-.17.166H30.6a.09.09,0,0,0-.1.1v8.932a.149.149,0,0,1-.169.167Z'/%3E%3Cpath class='cls-1' d='M48.315,118.075a4.977,4.977,0,0,1-2.643-.688A3.6,3.6,0,0,1,44.1,115.31a4.993,4.993,0,0,1-.162-.587,6.175,6.175,0,0,1-.093-.637q-.035-.351-.051-.8c-.012-.3-.017-.664-.017-1.089s0-.787.017-1.09.028-.569.051-.8a6.194,6.194,0,0,1,.093-.636,4.941,4.941,0,0,1,.162-.587,3.635,3.635,0,0,1,1.573-2.069,5.368,5.368,0,0,1,5.287,0,3.637,3.637,0,0,1,1.572,2.069,4.951,4.951,0,0,1,.163.587,6.194,6.194,0,0,1,.093.636c.023.235.039.5.051.8s.016.666.016,1.09-.005.787-.016,1.089-.028.57-.051.8a6.175,6.175,0,0,1-.093.637,5,5,0,0,1-.163.587,3.6,3.6,0,0,1-1.572,2.077A4.98,4.98,0,0,1,48.315,118.075Zm0-2.179a1.931,1.931,0,0,0,1.173-.335,1.77,1.77,0,0,0,.646-.922,2.257,2.257,0,0,0,.086-.343c.023-.129.042-.285.06-.469s.028-.411.033-.679.009-.586.009-.955,0-.687-.009-.956-.017-.494-.033-.678-.037-.341-.06-.469a2.271,2.271,0,0,0-.086-.344,1.774,1.774,0,0,0-.646-.922,2.221,2.221,0,0,0-2.346,0,1.773,1.773,0,0,0-.645.922,2.271,2.271,0,0,0-.086.344c-.023.128-.042.285-.06.469s-.028.41-.033.678-.009.587-.009.956,0,.687.009.955.016.494.033.679.037.34.06.469a2.257,2.257,0,0,0,.086.343,1.769,1.769,0,0,0,.645.922A1.935,1.935,0,0,0,48.315,115.9Z'/%3E%3Cpath class='cls-1' d='M63.005,116.617a.17.17,0,0,1,.017-.235l1.581-1.189a.17.17,0,0,1,.238.033,2.3,2.3,0,0,0,.587.461,1.623,1.623,0,0,0,.824.209,1.584,1.584,0,0,0,1.258-.5,2.166,2.166,0,0,0,.442-1.474v-7.256a.15.15,0,0,1,.17-.168h2.16a.149.149,0,0,1,.169.168V113.8a3.831,3.831,0,0,1-4.216,4.273,4.526,4.526,0,0,1-1.946-.411A2.959,2.959,0,0,1,63.005,116.617Z'/%3E%3Cpath class='cls-1' d='M80.687,116.617a.17.17,0,0,1,.016-.235l1.582-1.189a.168.168,0,0,1,.237.033,2.3,2.3,0,0,0,.588.461,1.617,1.617,0,0,0,.823.209,1.584,1.584,0,0,0,1.258-.5,2.166,2.166,0,0,0,.442-1.474v-7.256a.15.15,0,0,1,.17-.168h2.16a.15.15,0,0,1,.17.168V113.8a3.833,3.833,0,0,1-4.216,4.273,4.527,4.527,0,0,1-1.947-.411A2.95,2.95,0,0,1,80.687,116.617Z'/%3E%3Cpath class='cls-1' d='M101.989,106.663a.214.214,0,0,1,.221-.168h2.143a.216.216,0,0,1,.221.168l3.911,11.06c.033.111-.007.167-.12.167h-2.21a.212.212,0,0,1-.221-.167l-.663-1.994h-4.047l-.646,1.994a.213.213,0,0,1-.221.167H98.131c-.114,0-.154-.056-.121-.167Zm2.6,6.971-1.31-3.988h-.051l-1.309,3.988Z'/%3E%3Cpath class='cls-1' d='M125.214,117.89a.252.252,0,0,1-.255-.167l-1.99-4.173h-1.546a.091.091,0,0,0-.1.1v4.072a.149.149,0,0,1-.17.167h-2.159a.149.149,0,0,1-.17-.167v-11.06a.15.15,0,0,1,.17-.168H123.6a4.731,4.731,0,0,1,1.607.26,3.7,3.7,0,0,1,1.241.729,3.187,3.187,0,0,1,.8,1.123,3.555,3.555,0,0,1,.281,1.424,3.4,3.4,0,0,1-.544,1.927,3.364,3.364,0,0,1-1.513,1.24l2.278,4.492a.154.154,0,0,1,0,.142.126.126,0,0,1-.119.058Zm-1.752-6.435a1.628,1.628,0,0,0,1.139-.385,1.331,1.331,0,0,0,.426-1.039,1.312,1.312,0,0,0-.426-1.022,1.628,1.628,0,0,0-1.139-.385h-2.039a.09.09,0,0,0-.1.1v2.631a.09.09,0,0,0,.1.1Z'/%3E%3C/svg%3E");
  }
  
  .slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .slide::before,
  .slide::after{
    content: '';
  }
  
  .kushk{
    background-color: #22272d;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.9))), url('https://pbs.twimg.com/media/Dmabqt2X4AY2TjI.jpg:large');
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url('https://pbs.twimg.com/media/Dmabqt2X4AY2TjI.jpg:large');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url('https://pbs.twimg.com/media/Dmabqt2X4AY2TjI.jpg:large');
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url('https://pbs.twimg.com/media/Dmabqt2X4AY2TjI.jpg:large');
    background-size: cover;
    background-position: center top;
  }
  
  .kushk .slide-header{
    padding: 30px;
  }
  
  /*.kushk .slide-header svg{
    width: 50px;
  }*/
  
  .partners-logos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row wrap;
            flex-direction: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    max-width: 900px;
  }
  
  .partners-logos img{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
  }
  
  .tweet{
    background-color: #1da1f2;
    background-image: url("data:image/svg+xml,%3Csvg class='twitterIcon-bird' viewBox='0 0 1208 982' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Ebird%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Final-Horizon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-286.000000, -117.000000)' fill-rule='nonzero' fill='%231B95E0'%3E%3Cpath d='M1493.75308,233.195911 C1449.31783,252.922544 1401.56126,266.207828 1351.43951,272.19627 C1402.61804,241.549536 1441.92034,192.987798 1460.3889,135.116296 C1412.53168,163.498493 1359.49119,184.130942 1303.02874,195.252335 C1257.88897,147.093181 1193.42514,117 1122.16771,117 C962.190754,117 844.636121,266.258151 880.768067,421.202806 C674.896491,410.886582 492.324484,312.253414 370.089808,162.341063 C305.17308,273.705962 336.423691,419.391176 446.731805,493.16476 C406.171431,491.856361 367.925917,480.734968 334.561738,462.165765 C331.844294,576.95263 414.122472,684.342008 533.287442,708.245454 C498.413572,717.706186 460.218381,719.9204 421.368991,712.47259 C452.871217,810.904465 544.358512,882.514158 652.854997,884.52708 C548.686294,966.201382 417.443793,1002.68559 286,987.186091 C395.653915,1057.48739 525.940278,1098.50067 665.838342,1098.50067 C1125.89162,1098.50067 1385.81015,709.956437 1370.10936,361.469352 C1418.52012,326.494836 1460.53987,282.864756 1493.75308,233.195911 Z' id='bird'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide-content{
    max-width: 900px;
  }
  
  .slide-content .description h1{
    color: #fff;
    font-size: 26px;
  }
  
  .slide-content .description h2{
    font-size: 26px;
    padding-bottom: 20px; margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .slide-content .description p{
    color: #cad1da;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
  }
  
  .tweet .slide-content .description p{
    color: #fff;
  }
  
  .button{
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    padding: 16px 38px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    /*border: 2px solid #2aefc3;*/
    background: #8dc63f;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  
  .button:hover{
    background-color: #7cad37;
  }
  
  .button:disabled{
    cursor: default;
    opacity: 0.45 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    pointer-events: none !important;
  }
  
  .dark-hover:hover{
    border-color: #000;
    color: #000;
  }
  
  .secondary-link{
    display: inline-block;
    padding: 20px;
  }
  
  /*.secondary-link:hover{
    color: #fff;
  }*/
  
  .benefits, .questions{
    margin-right: 20px;
  }
  
  .benefit, .question{
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .benefit .icon, .question .icon{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .benefit .description, .question .description{
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4; margin-bottom: 30px;
    text-align: right;
  }
  
  .benefit .heading, .question .heading{
    font-size: 16px; font-weight: 700;
    margin-bottom: 5px; padding-left: 20px;
  }
  
  .benefit .more, .question .more{
    font-size: 14px;
    padding-left: 20px;
  }
  
  .icon img{
    width: 48px;
  }
  
  abbr{
    font-size: 16px;
    font-weight: 700;
    color: #e1e8ed;
  }
  
  .icon-button{
    padding: 10px; width: 24px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height: 24px; cursor: pointer;
    display: inline-block;
  }
  
  .light-next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='284.929px' height='284.929px' viewBox='0 0 284.929 284.929' style='enable-background:new 0 0 284.929 284.929;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z' style='fill: rgb(255, 255, 255);'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }
  
  .dark-next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='284.929px' height='284.929px' viewBox='0 0 284.929 284.929' style='enable-background:new 0 0 284.929 284.929;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z' style='fill: rgb(168, 168, 168);'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }
  
  a{
    color: #fff;
  }
  
  .slide-footer a{
    color: #8dc63f;
  }
  
  .form-fields{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .form-group{
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .form-group-small{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 194px;
            flex: 1 0 194px;
  }
  
  .form-group-medium{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  
  .form-group-large{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  
  .form-group label{
    /*display: block;
    margin-bottom: 10px;*/
    display: none;
  }
  
  .form-group input, .form-group select, .form-group textarea{
    width: 100%; padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    line-height: initial;
  }
  
  .form-group select{
    /*height: 40px;*/
  }
  
  .form-button{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }
  
  .sub-heading{
    color: #666; padding: 10px;
  }
  
  .register{
    background-color: #f8f8f8;
  }
  
  .register .slide-footer{
    color: #ccc; padding: 20px;
  }
  
  .register .slide-footer p{
    color: #666; padding-bottom: 10px;
  }
  
  .group{
    /*margin-bottom: 40px;*/
  }
  
  .slide-footer blockquote{
    font-size: 12px;
  }
  
  footer{
    font-size: 10px;
  }
  
  .modal{
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    /* Probably need media queries here */
    width: 800px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    /* Use this for centering if unknown width/height */
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    background: white;
    -webkit-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
  
  .closed{
    display: none;
  }
  
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-guts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  .modal-guts iframe{
    width: 100%; height: 100%;
  }
  
  .modal .close-button{
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    top: 10px;
    /* needs to look OK with or without scrollbar */
    right: 20px;
    cursor: pointer;
    border: 0;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 1.3rem;
  }
  
  @media (max-width: 600px){
    form{
      margin-left: 20px;
      margin-right: 20px;
    }
    .partners-logos img{
      max-width: 90%;
    }
    .partners-large{
      display: none;
    }
    .partners-small{
      display: block;
    }
  }
  
  @media (min-width: 600px){
    .partners-large{
      display: block;
    }
  
    .partners-small{
      display: none;
    }
  }
  
  @media (min-width: 800px){
    .benefits{
      display: -moz-flex;
      display: -ms-flexbox;
      display: -o-flex;
      display: -webkit-box;
      display: flex;
    }
  
    .slide-content .description h1, .slide-content .description h2{
      font-size: 28px;
    }
  
    .slide-content .description p, .button, .secondary-link, form{
      font-size: 18px;
    }
  
    .slide-footer .footer, .slide-footer blockquote{
      font-size: 12px;
    }
  
    .logo{
      width: 70px; height: 70px;
    }
  }